/* .form-group-title,
.form-group {
    user-select: none;
} */



.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
    outline: none;

}

.real-checkbox:focus + .custom-checkbox {
    box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
}


.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #7e9bbd;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 5px;
    position: relative;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(../img/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* margin-top: 1px; */
    transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}