.header {
    text-align: center;
    background-color: #e3e3e3;
    padding: 10px 0;
    margin: 5px auto;
}
.header__link {
    text-decoration: none;
    
}
.header__logo {
    color: white;
    font-size: 32px;
}

.header__logo_blue {
    color :#3da97d;
}

.main {
    background-color: #f2f3;
    text-align: center;
}
.main__link {
    text-decoration: none;
    display: inline-block;
}
.main__title {
    color: #3d90a9;
    font-size: 42px;
    font-weight: 400;
}
.main__title_blue {
    color: #fff;
}

.footer {
    background-color: #a13030;
}


.footer__link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    
}

.footer__description {
    color: #fff;
    font-size: 32px;
}
.footer__description_blue {
    color: #3d90a9;
}

.after-footer {
    background-color: rgb(76, 221, 81);
    margin: 10px 0;
}

.after-footer__link {
    text-decoration: none;
}

.after-footer__container-flex {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: white;
    font-size: 32px;
}

.after-footer__header_blue {
    font-size: inherit;
    font-weight: 400;
    color: #3d90a9;
    
}