.container {
    max-width: 1600px;
    margin: 0 auto;
}
.main {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}
.main__card {
    position: relative;
    width: 20%;
}
.main__img {
    position: relative;
    z-index: 2;
    transition: 0.4s;
    transition-delay: 0.2s;
}
.main__img:hover {
    position: relative;
    z-index: 0;
    
}

.main__desc {
    display: inline-block;
    border: 1px solid orange;
    color: orangered;
    max-width: 200px;
    background-color: orange;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    padding: 20px;
}