body div {
    text-align: center;
    height: 100vh;
    width: 50%;
    background-color: #e334;
    
}
body div::after {
    content: '';
    display: inline-block;
    height: 50%;
}
/* img {
    display: inline;
    vertical-align: middle;
    height: 100px;
} */